 # Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.production
.env.development

# Build folders
dist/
build/

# React Native
android/app/build/
ios/build/
ios/Pods/
android/.gradle/

# Metro / React Native cache
.metro-health-check*
.expo/
.expo-shared/

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
